@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 32px;
    background: #22252b;
    font-family: "Ubuntu";
    animation: rotate 5s infinite alternate linear;
    background-blend-mode: color;
}

.circle {
    position: fixed;
    top: -50vmin;
    left: -50vmin;
    width: 100vmin;
    height: 100vmin;
    border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
    background: #b09f95;
	animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
}

.circle::after {
    content: "";
    position: inherit;
    right: -50vmin;
    bottom: -55vmin;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: #A75D5D;
}

.card {
    overflow: hidden;
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 20px;
    padding: 160px 30px 38px;
    border-radius: 1.25rem;
    background: #53655c;
    text-align: center;
    box-shadow: 100px 100px 100px #1b3633;
	animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

.card::before {
    content: "";
    position: absolute;
    background: #C08261;
    top: -880px;
    left: 50%;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    translate: -50% 0;
}

.card .logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #9A3B3B;
    height: 64px;
    width: 64px;
    top: 30px;
    left: 50%;
    translate: -50% 0;
}

.card .logo i {
    font-size: 50px;
    color: beige;
    font-weight: 500;
    animation: tilt-shaking 0.3s infinite;
}

.card > h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 30px;
    color: navajowhite;
}

.form {
    margin: 0 0 30px;
    display: grid;
    gap: 18px;
}

.form > input, .form > button {
    width: 100%;
    height: 50px;
    border-radius: 28px;
}

.form > input {
    border: 2px solid #ffd1dc;
    font-family: inherit;
    font-size: 16px;
    padding: 0 24px;
    color: #cad3e5;
    transition: all 1s;
}

.form > input:hover {
    border: 2px solid #b09f95;
}

.form > input::placeholder {
    color: #a3aeb1;
}

.form > button {
    cursor: pointer;
    width: 100%;
    height: 50px;
    padding: 0 16px;
    background: #b09f95;
    color: #f9fcfb;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 1s;
}

.form > button:hover {
    color: #f9fcfb;
    background: #C08261;
    transform: scale(1.08);
}

.card > footer > a:hover {
    color: #b09f95;
}

@media (width >= 500px) {
    body {
        padding: 0;
    }

    .card {
        margin: 0;
        width: 360px;
    }
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(3deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
