* {
  margin: 0;
  padding: 0;
  font-family: 'Share Tech Mono', monospace;
}
.container {
  width: 30%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  background: var(--background);
  transition: .2s ease-in-out;
  max-width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px 50px;
  border-radius: 15px;
  border: 2px solid #0277BD;
}

.clock {
  width: 360px;
  height: 120px;
}
.date {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
.date, .hr, .min, .sec, .colon {
  color: var(--text);
  text-shadow: 0 0 10px var(--shadow-1), 0 0 15px var(--shadow-2), 0 0 20px var(--shadow-2);
}
.hr, .min, .sec, .colon {
  width: 20%;
  float: left;
  text-align: center;
  font-size: 4rem;
}
.toggle-btn {
  width: 40px;
  height: 25px;
  border-radius: 25px;
  position: absolute;
  top: 50px;
  right: 50px;
  background: var(--toggle);
}
.toggle-btn .control {
  width: 19px;
  height: 19px;
  border-radius: 25px;
  position: relative;
  top: 3px;
  background: var(--toggle-control);
}
.dark .toggle-btn .control {
  float: right;
  right: 3px;
}
.light .toggle-btn .control {
  left: 3px;
}
.toggle-btn .light-txt, .toggle-btn .dark-txt {
  position: absolute;
  top: -100%;
}
.toggle-btn .light-txt {
  left: -80%;
  color: var(--light-txt);
  
}
.toggle-btn .dark-txt {
  left: 80%;
  color: var(--dark-txt);
}

.dark {
  --background: #1d1f38;
  --text: #ffffff;
  --shadow-1: #2c2e4e;
  --shadow-2: #141625;
  --toggle: #ffffff;
  --toggle-control: #000000;
  --dark-txt: #ffffff;
  --light-txt: #333333;
}

.light {
  --background: #ffd1dc;
  --text: #333333;
  --shadow-1: #f4d2db;
  --shadow-2: #fff;
  --toggle: #666666;
  --toggle-control: #ffffff;
  --dark-txt: #bbb;
  --light-txt: #333333;
}